<div class="grid grid-nogutter equipment-card-container">
  <!-- Top Row: Item Selection & Refine/Grade -->
  <div class="col-12 border-bottom-dashed pb-2 mb-2">
    <div class="grid grid-nogutter align-items-center">
      <!-- Item Icon & Name -->
      <div class="col-7 pr-2">
        <p-dropdown
          inputId="baseItem"
          [autoDisplayFirst]="false"
          [resetFilterOnHide]="true"
          [options]="itemList"
          [filter]="true"
          filterBy="label"
          scrollHeight="350px"
          [(ngModel)]="itemId"
          [showClear]="true"
          [virtualScroll]="true" [virtualScrollItemSize]="38"
          (onChange)="onSelectItem('itemId', $event.value, itemRefine)"
          (onClear)="onClearItem(itemType)"
          placeholder="{{ placeholder }}"
          [appendTo]="'body'"
          styleClass="w-full"
        >
          <ng-template let-item pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="itemId">
              <img src="assets/demo/images/items/{{ item.value }}.png" alt="" class="item-icon-small" />
              <div class="text_ellips font-bold">{{ item.label }}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="flex align-items-center gap-2 {{ item.lv200ClassName }}">
              <img src="assets/demo/images/items/{{ item.value }}.png" alt="" style="width: 20px" />
              <div>{{ item.label }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <!-- Refine -->
      <div class="col-2 px-1" *ngIf="refineList.length > 0">
        <p-dropdown
          inputId="baseItemRefine"
          [options]="refineList"
          [(ngModel)]="itemRefine"
          scrollHeight="350px"
          [disabled]="!itemId"
          (onChange)="onSelectItem('itemRefine', itemId, $event.value)"
          [appendTo]="'body'"
          styleClass="w-full"
        >
          <ng-template let-item pTemplate="selectedItem">
            <div class="text-center font-bold text-primary">{{ item.label > 0 ? '+' : '' }}{{ item.label || 0 }}</div>
          </ng-template>
        </p-dropdown>
      </div>

      <!-- Grade -->
      <div class="col-3 pl-1" *ngIf="gradeList.length > 0 && itemId">
        <p-dropdown
          [options]="gradeList"
          scrollHeight="350px"
          [showClear]="true"
          [(ngModel)]="itemGrade"
          (onChange)="onSelectGrade($event.value)"
          (onClear)="onSelectGrade('')"
          placeholder="Grade"
          [appendTo]="'body'"
          styleClass="w-full"
        ></p-dropdown>
      </div>
      
      <div class="col-fixed mt-1">
        <ng-content></ng-content>
      </div>
    </div>
  </div>

  <!-- Bottom Section: Cards & Enchants & Options -->
  <div class="col-12" *ngIf="itemId">
    <div class="grid grid-nogutter">
      <!-- Cards Group -->
      <div class="col-12 mb-2" *ngIf="totalCardSlots > 0">
        <div class="grid grid-nogutter">
          <div [class]="totalCardSlots > 2 ? 'col-4 px-1' : 'col-6 px-1'" *ngFor="let slot of [1,2,3,4].slice(0, totalCardSlots); let i = index">
            <p-dropdown
              [autoDisplayFirst]="false"
              [resetFilterOnHide]="true"
              [options]="cardList"
              [filter]="true"
              filterBy="label,cardPrefix"
              scrollHeight="350px"
              [(ngModel)]="this['card' + (i+1) + 'Id']"
              [showClear]="true"
              (onChange)="onSelectItem('card' + (i+1) + 'Id', $event.value)"
              placeholder="Card {{ i+1 }}"
              [virtualScroll]="true" [virtualScrollItemSize]="38"
              [appendTo]="'body'"
              styleClass="w-full text-xs"
            >
              <ng-template let-item pTemplate="selectedItem">
                <div class="flex align-items-center gap-1 text-xs" *ngIf="this['card' + (i+1) + 'Id']">
                  <img src="assets/demo/images/items/{{ item.value }}.png" alt="" class="item-icon-tiny" />
                  <div class="text-truncate">{{ item.label }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>

      <!-- Enchants Group -->
      <div class="col-12 mb-2" *ngIf="enchant1List.length || enchant2List.length || enchant3List.length || enchant4List.length">
        <div class="grid grid-nogutter">
          <div class="col-4 px-1" *ngFor="let slot of [1,2,3,4]; let i = index" [hidden]="!this['enchant' + (i+1) + 'List']?.length">
            <p-dropdown
              [autoDisplayFirst]="false"
              [resetFilterOnHide]="true"
              [options]="this['enchant' + (i+1) + 'List']"
              [filter]="true"
              filterBy="label"
              scrollHeight="350px"
              [(ngModel)]="this['enchant' + (i+1) + 'Id']"
              [showClear]="true"
              (onChange)="onSelectItem('enchant' + (i+1) + 'Id', $event.value)"
              placeholder="Enc {{ i+1 }}"
              [virtualScroll]="true" [virtualScrollItemSize]="38"
              [appendTo]="'body'"
              styleClass="w-full text-xs"
            >
              <ng-template let-item pTemplate="selectedItem">
                <div class="flex align-items-center gap-1 text-xs" *ngIf="this['enchant' + (i+1) + 'Id']">
                  <img src="assets/demo/images/items/{{ item.value }}.png" alt="" class="item-icon-tiny" />
                  <div class="text-truncate">{{ item.label }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>

      <!-- Options Group -->
      <div class="col-12" *ngIf="totalExtraOption > 0">
        <div class="grid grid-nogutter">
          <div class="col-4 px-1" *ngFor="let slot of [1,2,3]; let i = index" [hidden]="totalExtraOption <= i">
            <p-cascadeSelect
              [(ngModel)]="this['option' + (i+1) + 'Value']"
              [options]="optionList"
              optionValue="value"
              optionGroupLabel="label"
              optionLabel="label"
              [optionGroupChildren]="['children', 'children', 'children']"
              placeholder="Opt {{ i+1 }}"
              [showClear]="true"
              (onChange)="onOptionChange('option' + (i+1) + 'Value', $event)"
              (onClear)="onOptionChange('option' + (i+1) + 'Value', $event)"
              [appendTo]="'body'"
              styleClass="w-full text-xs"
            ></p-cascadeSelect>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-nogutter" *ngIf="isAccR">
  <div class="col-12 mb-2" [hidden]="!isEndWithSpace2"></div>
</div>
